In [3]:
import pandas as pd
import numpy as np
df= pd.read_csv('data.csv')
df=df.drop('Name', axis=1)
df #ailesamma data ramrosanga bujhyo and unnecessary column i.e. name hatayo

,Location,Cuisine,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,Parking Availability,Weekend Reservations,Weekday Reservations,Revenue
0,Rural,Japanese,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,Yes,13,4,638945.52
1,Downtown,Mexican,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,Yes,48,6,490207.83
2,Rural,Italian,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,No,27,14,541368.62
3,Rural,Italian,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,Yes,9,17,404556.80
4,Downtown,Japanese,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,No,37,26,1491046.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,Suburban,Indian,3.4,54,34.85,1102,11298,11,380,253.919515,9.5,5.0,Yes,37,0,434653.45
8364,Rural,Indian,3.7,49,36.88,1988,20432,9,713,175.590195,2.7,2.6,No,37,21,414977.92
8365,Downtown,Italian,4.7,88,46.87,5949,63945,6,436,222.953647,4.8,1.7,Yes,83,21,930395.87
8366,Rural,American,3.1,31,44.53,707,7170,1,729,178.482851,6.1,2.1,No,6,21,311493.48
8367,Rural,Japanese,4.0,33,71.07,2003,24268,8,197,151.838065,5.9,7.5,Yes,5,12,534142.98

In [4]:
# check for missing values
df.isnull().sum()  # no missing values in every column

Location                  0
Cuisine                   0
Rating                    0
Seating Capacity          0
Average Meal Price        0
Marketing Budget          0
Social Media Followers    0
Chef Experience Years     0
Number of Reviews         0
Avg Review Length         0
Ambience Score            0
Service Quality Score     0
Parking Availability      0
Weekend Reservations      0
Weekday Reservations      0
Revenue                   0
dtype: int64

In [5]:
#aba ya vako location jasto column lai ni category wise numeric value dinuparo
#tesko lagi first check the categories
unique_locations = df['Location'].unique()
unique_locations

array(['Rural', 'Downtown', 'Suburban'], dtype=object)

In [6]:
unique_cuisine = df['Cuisine'].unique()
unique_cuisine

array(['Japanese', 'Mexican', 'Italian', 'Indian', 'French', 'American'],
      dtype=object)

In [7]:
#aba hamilai category haru thavo so encode them with number
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()
df['location_encoded']=encoder.fit_transform(df['Location'])
df['cuisine_encoded']=encoder.fit_transform(df['Cuisine'])
df['parking_encoded']=encoder.fit_transform(df['Parking Availability'])
df

,Location,Cuisine,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,Parking Availability,Weekend Reservations,Weekday Reservations,Revenue,location_encoded,cuisine_encoded,parking_encoded
0,Rural,Japanese,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,Yes,13,4,638945.52,1,4,1
1,Downtown,Mexican,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,Yes,48,6,490207.83,0,5,1
2,Rural,Italian,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,No,27,14,541368.62,1,3,0
3,Rural,Italian,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,Yes,9,17,404556.80,1,3,1
4,Downtown,Japanese,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,No,37,26,1491046.35,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,Suburban,Indian,3.4,54,34.85,1102,11298,11,380,253.919515,9.5,5.0,Yes,37,0,434653.45,2,2,1
8364,Rural,Indian,3.7,49,36.88,1988,20432,9,713,175.590195,2.7,2.6,No,37,21,414977.92,1,2,0
8365,Downtown,Italian,4.7,88,46.87,5949,63945,6,436,222.953647,4.8,1.7,Yes,83,21,930395.87,0,3,1
8366,Rural,American,3.1,31,44.53,707,7170,1,729,178.482851,6.1,2.1,No,6,21,311493.48,1,0,0
8367,Rural,Japanese,4.0,33,71.07,2003,24268,8,197,151.838065,5.9,7.5,Yes,5,12,534142.98,1,4,1

In [8]:
#aba edcode gareko column rakhne ra original column hataune
df=df.drop(['Location','Cuisine', 'Parking Availability'], axis=1)
df

,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,Weekend Reservations,Weekday Reservations,Revenue,location_encoded,cuisine_encoded,parking_encoded
0,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,13,4,638945.52,1,4,1
1,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,48,6,490207.83,0,5,1
2,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,27,14,541368.62,1,3,0
3,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,9,17,404556.80,1,3,1
4,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,37,26,1491046.35,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,3.4,54,34.85,1102,11298,11,380,253.919515,9.5,5.0,37,0,434653.45,2,2,1
8364,3.7,49,36.88,1988,20432,9,713,175.590195,2.7,2.6,37,21,414977.92,1,2,0
8365,4.7,88,46.87,5949,63945,6,436,222.953647,4.8,1.7,83,21,930395.87,0,3,1
8366,3.1,31,44.53,707,7170,1,729,178.482851,6.1,2.1,6,21,311493.48,1,0,0
8367,4.0,33,71.07,2003,24268,8,197,151.838065,5.9,7.5,5,12,534142.98,1,4,1

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['revenue_scaled']= scaler.fit_transform(df[['Revenue']])
df

,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,Weekend Reservations,Weekday Reservations,Revenue,location_encoded,cuisine_encoded,parking_encoded,revenue_scaled
0,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,13,4,638945.52,1,4,1,0.337181
1,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,48,6,490207.83,0,5,1,0.226773
2,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,27,14,541368.62,1,3,0,0.264750
3,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,9,17,404556.80,1,3,1,0.163194
4,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,37,26,1491046.35,0,4,0,0.969698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,3.4,54,34.85,1102,11298,11,380,253.919515,9.5,5.0,37,0,434653.45,2,2,1,0.185535
8364,3.7,49,36.88,1988,20432,9,713,175.590195,2.7,2.6,37,21,414977.92,1,2,0,0.170930
8365,4.7,88,46.87,5949,63945,6,436,222.953647,4.8,1.7,83,21,930395.87,0,3,1,0.553526
8366,3.1,31,44.53,707,7170,1,729,178.482851,6.1,2.1,6,21,311493.48,1,0,0,0.094113
8367,4.0,33,71.07,2003,24268,8,197,151.838065,5.9,7.5,5,12,534142.98,1,4,1,0.259386

In [10]:
#revenue svcaled vanne column banaisakyam so aba original wala drop garne
df=df.drop(['Revenue'], axis=1)
df

,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,Weekend Reservations,Weekday Reservations,location_encoded,cuisine_encoded,parking_encoded,revenue_scaled
0,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,13,4,1,4,1,0.337181
1,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,48,6,0,5,1,0.226773
2,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,27,14,1,3,0,0.264750
3,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,9,17,1,3,1,0.163194
4,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,37,26,0,4,0,0.969698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,3.4,54,34.85,1102,11298,11,380,253.919515,9.5,5.0,37,0,2,2,1,0.185535
8364,3.7,49,36.88,1988,20432,9,713,175.590195,2.7,2.6,37,21,1,2,0,0.170930
8365,4.7,88,46.87,5949,63945,6,436,222.953647,4.8,1.7,83,21,0,3,1,0.553526
8366,3.1,31,44.53,707,7170,1,729,178.482851,6.1,2.1,6,21,1,0,0,0.094113
8367,4.0,33,71.07,2003,24268,8,197,151.838065,5.9,7.5,5,12,1,4,1,0.259386

In [11]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split

# Split data
X = df.drop('revenue_scaled', axis=1)  # Features
y = df['revenue_scaled']               # Target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Train LightGBM
model = lgb.LGBMRegressor(random_state=42)  # Default params work well!
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000379 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1750
[LightGBM] [Info] Number of data points in the train set: 6694, number of used features: 15
[LightGBM] [Info] Start training from score 0.350613

In [12]:
from sklearn.metrics import mean_absolute_error, r2_score
print("MAE:", mean_absolute_error(y_test, y_pred))
print("RÂ² Score:", r2_score(y_test, y_pred))

MAE: 0.003581831670438397
RÂ² Score: 0.9993831932257424

In [13]:
import joblib
joblib.dump(model, 'revenue_model.pkl')

['revenue_model.pkl']

In [17]:
# create_encoders.py
import pandas as pd
import joblib
from sklearn.preprocessing import LabelEncoder

# Load your original UNPROCESSED training data
# (The raw data before encoding was applied)
df_raw = pd.read_csv('data.csv')  # Replace with your file

# Create and save encoders
location_encoder = LabelEncoder().fit(df_raw['Location'])
cuisine_encoder = LabelEncoder().fit(df_raw['Cuisine'])
parking_encoder = LabelEncoder().fit(df_raw['Parking Availability'])  # If it was categorical

joblib.dump(location_encoder, 'location_encoder.pkl')
joblib.dump(cuisine_encoder, 'cuisine_encoder.pkl')
joblib.dump(parking_encoder, 'parking_encoder.pkl')

print("Encoders created successfully!")

Encoders created successfully!